name: Deploy to Server

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  deploy:
    runs-on: ubuntu-latest
    timeout-minutes: 60
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Upload deploy script to server
        uses: appleboy/scp-action@v0.1.7
        with:
          host: ${{ secrets.SERVER_HOST }}
          username: ${{ secrets.SERVER_USER }}
          key: ${{ secrets.SERVER_SSH_KEY }}
          port: 22
          timeout: 300s
          source: "scripts/server/deploy.sh"
          target: "/tmp"

      - name: Execute deploy script
        uses: appleboy/ssh-action@v1.2.0
        continue-on-error: false
        timeout-minutes: 50
        env:
          GITHUB_REPO: ${{ github.repository }}
          SERVER_HOST: ${{ secrets.SERVER_HOST }}
        with:
          host: ${{ secrets.SERVER_HOST }}
          username: ${{ secrets.SERVER_USER }}
          key: ${{ secrets.SERVER_SSH_KEY }}
          port: 22
          timeout: 300s
          command_timeout: 40m
          script_stop: true
          debug: true
          envs: GITHUB_REPO,SERVER_HOST
          script: |
            # 赋予执行权限并运行
            chmod +x /tmp/deploy.sh
            bash /tmp/deploy.sh
